﻿@model CrudML.Models.ViewModels.TablaViewModel
@{
    ViewBag.Title = "Nuevo";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Editar", "Tabla", FormMethod.Post))
{
    
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(d => d.Id)
            <div>
                @Html.LabelFor(d => d.tipo_documento)<br />

                <pre>@Html.Label("CC") @Html.RadioButtonFor(d => d.tipo_documento, "CC", true)   @Html.Label("TI") @Html.RadioButtonFor(d => d.tipo_documento, "TI", true)  </pre>
                @Html.ValidationMessageFor(d => d.tipo_documento, null, new { @class = "red" })<br />
            </div>
            <div>
                @Html.LabelFor(d => d.Id)
                @Html.TextBoxFor(d => d.Id, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Id, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Nombre)
                @Html.TextBoxFor(d => d.Nombre, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Nombre, null, new { @class = "red" })
            </div>
            <div>

                @Html.LabelFor(d => d.direccion)
                @Html.TextBoxFor(d => d.direccion, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.direccion, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.telefono)
                @Html.TextBoxFor(d => d.telefono, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.telefono, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.correo)
                @Html.TextBoxFor(d => d.correo, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.correo, null, new { @class = "red" })
            </div>

            <div>
                @Html.LabelFor(d => d.fecha_creacion)<br />
                @Html.EditorFor(d => d.fecha_creacion, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.fecha_creacion, null, new { @class = "red" })
            </div>







            <br />
            <div style="text-align:center;">
                <input value="Guardar" class="btn btn-primary" type="submit" style="background-color: #191970" />
            </div>
        </div>

    </div>
}

