﻿@model List<CrudML.Models.ViewModels.ListTablaViewModel>

@{
    ViewBag.Title = "Clientes";
}

<h1 style="font: italic; font-size: x-large; text-align: center; width: 800px; color: #191970 ">@ViewBag.Title</h1>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>#Id</th>
                <th>Nombre</th>
                <th>tipocc</th>
                <th>direccion</th>
                <th>telefono</th>
                <th>Correo</th>
                <th>fecha</th>
                <th>Editar/Eliminar</th>

            </tr>
            @foreach(var Elemento in Model)
            {
                <tr> 
                    
                    <td>@Elemento.Id</td>
                    <td>@Elemento.Nombre</td>
                    <td>@Elemento.tipo_documento</td>
                    <td>@Elemento.direccion</td>
                    <td>@Elemento.telefono</td>
                    <td>@Elemento.correo</td>
                    <td>@Elemento.fecha_creacion</td>
                    <td>
                        <a class="btn btn-default" href="~/Tabla/Editar/@Elemento.Id">Editar</a>
                        <a class="btn btn-danger" href="~/Tabla/Eliminar/@Elemento.Id" style="background-color: #191970">Eliminar</a>
                    </td>
                </tr>
            }
        </table>
    </div>

</div>

<div class="row" style="text-align: center;width:800px">
    <a href="~/Tabla/Nuevo" class="btn btn-primary" style="background-color: #191970">Agregar nuevo cliente</a>

</div>